
       #loader-out {
         background-color: #18A6A8;
         position:fixed;
         width: 100%;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         z-index: 9999;

       }

       #loader-container {

         width: 300px;
         height: 300px;
         color: white;
         margin: 0 auto;
         position: absolute;
         top: 50%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);
         border: 5px solid #18A6A8;
         border-radius: 50%;
         -webkit-animation: borderScale 1s infinite ease-in-out;
         animation: borderScale 1s infinite ease-in-out;
         z-index: 9999;

       }

       #loading-text {

         font-family: 'Arial', sans-serif;
         font-weight: bold;
         font-size: 1.5em;
         position: absolute;
         top: 50%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);
         z-index: 9999;

       }
       @-webkit-keyframes borderScale {
         0% {
           border: 5px solid white;
         }
         50% {
           border: 25px solid #18A6A8;
         }
         100% {
           border: 5px solid white;
         }
       }

       @keyframes borderScale {
         0% {
           border: 5px solid white;
         }
         50% {
           border: 25px solid #18A6A8;
         }
         100% {
           border: 5px solid white;
         }

       }
       #datosHospital{

         text-align: center;

       }


 /*Estilos aplicados al archivo index*/


       .fa fa-flask{

         color: #3AB798 !important;
       }
       #detalleIndex{

         margin-top: 10px;color: #ffffff;
         background-color: rgba(38, 185, 154, 0.88);
         border-color: rgba(38, 185, 154, 0.88);
         height: 100px;
         width: 100%;
         margin-bottom: 25px;
          font: sans-serif;
          padding: 15px;
           padding-top: 15px;
           padding-right: 15px;
           padding-bottom: 15px;
           padding-left: 15px;
           margin-right: -10px;
       border-radius: 5px;
       text-align: center;
       font-weight: bold;
       font-size:17px;
       }
/*estilos del login*/



.panel panel-default{

  z-index: 999;


}

#titulo{
  font-family: sans-serif;
  font-size:150200%;
  font-style: normal;
    text-shadow: 5px 5px 5px #aaa;
  	text-align: center;
    margin-bottom: 25px;
    font-size: 2.875em;
     font: sans-serif;
font-weight: 900;
color: #fff;
font-weight:bold;
-webkit-text-fill-color: white;
-webkit-text-stroke-color: black;
-webkit-text-stroke-width: 0.75px;
  	/*color: #0b0a0a;
  	align-items: center;
  	justify-content: center;
  	letter-spacing: 1px;*/
}

.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  /*background-position: 50% 50%;*/
  background-image: url('/patologiahaz/web/img/lab.jpg');
  /*background-repeat:repeat;*/
  /*z-index: -1;*/
  height:91%;

}
#botonAtras{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  border-radius: 4px;
  color: #fff;

  background-color: #b34848;

  border-color: #ccb3b3;

}
#botonAtras:hover {
    background-color: #ad0c0c; /* Green */
    color: white;
}
